{
  "prefix": "$",
  "token": "YourDiscordTokenHere",
  "game": "solo ffp",
  "pubg": {
    "pubgtoken": "YourPUBGTokenHere",
    "PUBGservers": [
      "steam",
      "psn",
      "xbox",
      "kakao"
    ],
    "notify_interval": 200
  }
}
